//Colour-VAR_START//
$bgcolour: #000C1C;
//Colour-VAR_END//


//Overview-Start//
.start {
  height: 90vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f6f6f6;
.main-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.herotxt {
  margin-left: -35rem;
  .slide h1 {
    text-align: left;
    font-weight: bolder;
    font-size: 6rem;
    font-family: 'Major Mono Display', monospace;
    //Slide//
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation:
      typing 3s;
  }
  //Text_Colour//
  h1.gradient-text{
    background: linear-gradient(2deg, #00ff93,#c850c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
    h2 {
        font-weight: 800;
        font-size: 3.6rem;
        font-family: 'Montserrat Alternates', monospace;
        text-align: center;
    }
    h2 span::after {
      content: "";
      background: linear-gradient(-45deg,#c850c0, #4b00b2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: change-text 10s ease-in-out 0s infinite;
  }

  @keyframes change-text {
      0% {
          content: "Webs";
      }
      20% {
          content: "A.I.";
      }
      30% {
          content: "Webs";
    }
      40% {
          content: "A.I.";
    }
      50% {
          content: "Webs";
      }
      60% {
          content: "A.I.";
    }
      70% {
          content: "Webs";
    }
      80% {
          content: "A.I.";
    }
      90% {
          content: "Webs";
    }
      100% {
          content: "A.I.";
    }
  }
  }

  .scroll a {
    position: relative;
    align-self: flex-end;
    text-decoration: none;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
  }
  
  .scroll a:hover {
    bottom: 18px;
    left: 18px;
  }
  .scroll button{
    background-color:transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    i{
      color:#c850c0;
    }
  }
}
.title h2{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #edf5e1;
  font-size: 75px;
  width: 71.5rem;
  margin: 30px auto;
  text-align: center;
}
.title h2.gradient-text{
  background: linear-gradient(180deg,#00ffcc, #f6f6f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.outer-heropic-container{
  width: 37rem;
  height: 37rem;
  border-radius: 2rem;
  border-color: #00ffcc;
  margin: 0px -45rem;
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.outer-heropic-container img{
  width: 37rem;
  height: auto;
  float: left;
  margin-right: -10rem;
  margin-left: 0rem;
  margin-top: -14.5rem;
  margin-bottom: -10rem;
}
.inner-heropic-container{
  width: 15rem;
  height: 15rem;
  margin: 8.5rem auto;
}

.section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;

}

//Overview-End//
//LOGO-Start//
.trap {
position:relative;
display:block;
width: 100px;
border-bottom:double 24px #00ffcc;
border-left:solid 15px rgba(255, 0, 0, 0);
border-right:solid 15px rgba(255, 0, 0, 0);
}

.logo {
position: fixed;
top:0;
left:0;
height: 200px;
width: 200px;
color: #05386b;
cursor:pointer;
div {transition: all 0.15s ease-in-out;}
}
.logonavbar {
position: fixed;
top:0;
left:0;
height: 100px;
width: 100px;
cursor:pointer;
div {transition: all 0.10s ease-in-out;}
}

.logo:hover div:nth-child(1){
transform : translate(-10px , -16px);
}
.logo:hover div:nth-child(2){
transform : translate(-20px, -10px);
}
.logo:hover div:nth-child(3){
transform : translate(-10px , -3px);
}

#trap1 {
top:120px;
left:46px;
rotate: 25deg;
}
#trap2 {
top:45px;
left:51px;
rotate:145deg;
}
#trap3 {
top:50px;
left:92px;
rotate:265deg;
}
//LOGO-END//

//SIDENAV-START//
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
border-radius: 2rem;
background-color: #170025;
overflow-x: hidden;
transition: 0.5s;
}
.sidenav .closebtn img{
  width: 3.5rem;
  height: 3.5rem;
}
.sidenav .nav-wrapper {
  width: fit-content;
  padding-top: 70px;
  padding-left: 70px;
}
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 8.5rem;
  -webkit-text-stroke: .5px #edf5e1;
  color:transparent;
  display: flex;
  transition: 0.5s;
  margin: auto;
}

.sidenav a:hover {
color: #00ffbf;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.align-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.decoration-wrapper{
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.decoration-wrapper .eye {
  width: 32rem;
  height: 32rem;
  border: solid .05px #edf5e1;
  border-radius: 75% 20%;
  transform: rotate(60deg);
  background: linear-gradient(-80deg, #bf2bcc, #4f0169);
}
.decoration-wrapper img{
  width: 24rem;
  height: 24rem;
  padding: 65px;
}
//SIDENAV-END//

//TOPNAV-START//
.nav-container{
width: 100%;
height: 60px;
top: 0px;
}

.nav-buttons{
justify-content: center;
display: flex;
}

.nav-button{
display: inline-block;
}

.nv-btn{
font-family: monospace, monospace;
background-color: #0d1013;
color: #edf5e1;
border: transparent;
border-radius: 70px 40px;
height: 40px;
width: 250px;
margin-left: -34px;
margin-top: 22px;
box-shadow: inset 0 0 0 0 #01ceb3;
transition: ease-out 0.6s;
font-size: 1.4rem;
font-weight: 800;
outline: none;

}

.nv-btn:hover{
box-shadow: inset 300px 0 0 0 #01ceb3;
color: #370147;

}
//TOPNAV-END//

//SERVICECARD-START//
.service{
width: 100%;
padding: 100px 0px;
}

.box{
display: flex;
justify-content: center;
align-items: center;
min-height: 350px;
}

.wrapper {
  display: grid;
  margin: 50px 325px auto;
  grid-gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
  .wrapper {
    margin: 200px auto;
  }
}
.wrapper .box {
  width: 325px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.wrapper .box .front-face {
  backdrop-filter: blur(2px) saturate(120%);
  -webkit-backdrop-filter: blur(2px) saturate(120%);
  background-color: rgba(17, 23, 26, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 220px;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  transition: all 0.45s ease;
}

.box .front-face .icon {
  align-items: center;
  height: 80px;
}

.box .front-face .icon i {
  font-size: 65px;
}

.box .front-face span,
.box .back-face span {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
  background: linear-gradient(-90deg, #00ff93,#c850c0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .back-face {
  position: absolute;
  border-radius: 2rem;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 45px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(145deg, #c850c0, #4b00b2);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.301),
              -6px -6px 4px rgba(0, 0, 0, 0.301);
  transition: all 0.45s ease;
}

.box .back-face p {
  margin-top: 10px;
  text-align: justify;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
//SERVICECARD-END//

//Skills-START//
.skill-bars{
  padding: 60px;
  width: 60rem;
  border-radius: 25px;
  margin: auto;
  border: 0.1px solid #edf5e1;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  color: #00ffcc;
  font-family: 'Montserrat Alternates', monospace;
  font-weight: bolder;
  font-size: 18px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}
//Skills-END//

//WORK-START//
.work-container {
  display: grid;
  margin: 50px 325px auto;
  grid-gap: 80px;
}
.work-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 350px;
  position: relative;
  position: relative;
  margin: auto;
  border-radius: 20px;
  background-color: #000;
}

//WORK-END//

//CLOCK-START//
.container{
  width: 450px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.container *{
  color: #00ffcc;
  font-family: 'Montserrat Alternates', monospace;;
}
.clock{
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(145deg, #170a21, #1c0c28);
  box-shadow:  6px 6px 0px #0a040f,
              -6px -6px 0px #2a123b;
  padding: 80px 25px;
  backdrop-filter: blur(15px);
}
#day{
  position: relative;
  font-size: 28px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00ffcc;
  text-align: center;
}
.clock-wrapper{
  text-align: center;
}
#time{
  font-size: 74px;
  text-transform: uppercase;
  display: inline-block;
}
#midday{
  text-transform: uppercase;
  display: inline-block;
  font-size: 30px;
}
//CLOCK-END//

