/* Linking Stylesheets By Loading Order */
@import './mobile';
@import './nav';
@import './arc_reactor';
@import './footer';
html{
  scroll-behavior: smooth;
}
body {
    background-color: $bgcolour;
    display: grid;
}