/* Variables */
$bgcolour: #010619;
$top_nav_height:30px;


/* Linking Stylesheets By Loading Order */
@import './normalize.scss';
@import './mobile';
@import './nav';
html{
  scroll-behavior: smooth;
}
body {
    background-color: $bgcolour;
}